<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>
    <div class="div">
        <header class="header">
            <a href="index.html" class="logo">RideEase</a>
            <nav class="navbar">
                <a href="home.html">Home</a>
                <a href="blog.html">Blogs</a>
                <a href="#">Contact</a>
                <a href="about.html">About Us</a>
            </nav>
        </header>
    </div>
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi numquam optio.</p>
</body>
</html>