<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="div">
        <header class="header">
            <a href="#" class="logo">RideEase</a>
            <nav class="navbar">
                <a href="home.html">Home</a>
                <a href="blog.html">Blogs</a>
                <a href="#">Contact</a>
                <a href="about.html">About Us</a>
            </nav>
        </header>
    </div>
    <div>
        <h1><center>Contact Us</center></h1>
    </div>
    <div>
        <h2>Drop us a Line</h2> 
        <p>Feel free to connect with us through our online channels for updates, news and more.</p>
        <form action="#" method="post">
            <label for="Full Name">Full Name</label>
            <input type="text" name="Full Name" placeholder="Name" >
            <label for="Email">Email Address</label>
            <input type="email" name="Email" placeholder="Email"><br><br>
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" placeholder="Number">
            <label for="sub">Subject</label>
            <input type="text" name="sub" placeholder="Subject"><br><br>
            <label for="msg">Your Message</label><br>
            <textarea name="msg" id="" cols="100" rows="5"></textarea><br><br>
            <button>Send Message</button>
        </form>
    </div>
</body>
</html>