<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="div">
        <header class="header">
            <a href="#" class="logo">RideEase</a>
            <nav class="navbar">
                <a href="#">Home</a>
                <a href="blog.html">Blogs</a>
                <a href="contact.html">Contact</a>
                <a href="about.html">About Us</a>
            </nav>
        </header>
    </div>
    <div>
        <h1><center>Booking</center></h1>
        <p><center>Experience the freedom of the road with our affordable rentals</center></p>
    </div>
</body>
</html>